autom4te.cache/*
autoscan.log
configure
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
libtool
ltmain.sh
ltconfig
Makefile
src/Makefile
Makefile.in
src/Makefile.in
configure.scan
*.o
.deps/*
folly
